* {
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to bottom, #dee6e9,#a5e6ff, #9de3ff,#a5e6ff, #dee6e9);
    width: 100%;
    height: 100%;
}

.Company-img1 {
    width: 30%;
    height: 45%;
    margin-left: 1000px;
    position: absolute;
    transform: translate(-200px);
    border-radius: 10px;
    display: flex;
    left: 100px;
}

.back-img {
    z-index: -4;
    width: 100%;
    height: 70%;
    filter: blur(1px);
    position: absolute;
    transform: translate(0);
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}

.header-contacts {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 1;
    left: 1300px;
    bottom: 125px;
    position: relative;
    margin: 5 0px;
}

.navbar{
    margin-left: 300px;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 30px;
}

.navbar li {
    margin: 0 75px;
    margin-left: 20px;
}

.navbar a {
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #9dff00; /* цвет текста при наведении */
}


.bar {
    width: 80%; /* Ширина линии */
    height: 25%; /* Толщина линии */
    background-image:linear-gradient(to bottom, #ffffff,#d0e4e9,#ffffff,#ebe1e1); /* Цвет линии */
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    border-radius: 100px;
    margin-left: 185px;
    margin-top: 15px;
    border-style: solid;
}

.logo {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 325px;
}

.section-about-company {
    position: relative;
    margin-top: 150px;
}

.company {
    font-size: 48px;
    margin-left: 300px;
}

.company-info {
    margin-left: 300px;
    font-size: 24px;
    text-align: left;
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 300px;
    margin-inline-end: 1100px;
    unicode-bidi: isolate;
}

.infoP {
    margin-left: 300px;
    font-size: 24px;
    border-radius: 10px;
    text-decoration: underline;
    list-style: none;
    color: black;
}

.infoP:hover {
    color: #9dff00;
    transition: color 0.5s;
    font-size: 24px;
}

.company-info2 {
    font-size: 24px;
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 1270px;
    unicode-bidi: isolate;
    left: 900px;
    position: relative;

}

.company2 {
    font-size: 48px;
    margin-left: 900px;
    margin-top: 100px;
}

.infoP2 {
    margin-left: 900px;
    font-size: 24px;
    border-radius: 10px;
    text-decoration: underline;
    list-style: none;
    color: black;
}

.infoP2:hover {
    color: #9dff00;
    transition: color 0.5s;
    font-size: 24px;
}

.Company-img2 {
    width: 30%;
    height: 50%;
    margin-left: 1000px;
    position: absolute;
    transform: translate(-720px);
    border-radius: 10px;
    display: flex;
}

.project {
    text-align: center;
    font-size: 48px;
    position: relative;
    top: 275px;
    right: 50px;
}

.line {
    width: 60%; /* Ширина линии */
    height: 1px; /* Толщина линии */
    background-color: #000000; /* Цвет линии */
    position: relative;
    top: 175px;
    left: 325px;
    z-index: 1;
}

.container1 {
    max-width: 340px;
    max-height: 500px;
    margin: 350px;
    background-image: linear-gradient(to top, #84c3ff, #0074e0);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    transform: translate(-30px);
}

.container2 {
    max-width: 340px;
    margin: 350px;
    background-image: linear-gradient(to top, #84c3ff, #0074e0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    transform: translate(370px);
}

.container3 {
    max-width: 340px;
    margin: 350px;
    background-image: linear-gradient(to top, #84c3ff, #0074e0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    transform: translate(770px);
}

.container-img1 {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.container-img2 {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.container-img3 {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.container-infoP {
    margin-left: 0px;
    font-size: 24px;
    border-radius: 10px;
    text-decoration: underline;
    list-style: none;
    color: rgb(0, 0, 0);
}

.container-infoP:hover {
    color: #9dff00;
    transition: color 0.5s;
    font-size: 24px;
}

.friend {
    text-align: center;
    font-size: 48px;
    position: relative;
    top: 950px;
    right: 50px;
}

.friend-img-lukoil {
    width: 150px;
    height: 150px;
    position: relative;
    right: 100px;
    bottom: 150px;
}

.friend-img-tatnef {
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 100px;
}

.friend-img-gazprom {
    width: 200px;
    height: 100px;
    position: relative;
    left: 100px;
    bottom: 160px;
}

.friend-box {
    position: absolute;
    transform: translate(600px);
    top: 2500px;
    margin: auto;
}

.line-friend {
    width: 60%; /* Ширина линии */
    height: 1px; /* Толщина линии */
    background-color: #000000; /* Цвет линии */
    position: relative;
    top: 1275px;
    left: 325px;
    z-index: 1;
}


.line-foot {
    width: 100%; 
    height: 1px; 
    background-color: #000000; 
    position: relative;
    z-index: 1;
} 


footer {
    background-color: #b9b9b9;
    padding: 20px;
    font-family: Arial, sans-serif;
    position: relative;
    top: 1400px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-container img{
    max-width: 250px;  /* Укажите подходящий размер логотипа */
    position: relative;
    bottom: 15px;
    left: 150px;
}

.footer-menu {
    position: relative;
    left: 50px;
}

.footer-menu p {
    position: relative;
}

.footer-menu ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    top: 20px;
}

.footer-menu ul li {
    margin: 5px 0;
}

.footer-menu a {
    text-decoration: none;
    color: #000000;
}

.contacts{
    position: relative;
    right: 120px;
    bottom: 3px;
}

.contacts p{
    margin: 5px;
}

.map {
    position: relative;
    margin: 10px;
    right: 300px;
}

.map p {
    position: relative;
    bottom: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #000000;
}

.Company-str {
    text-align: center;
    font-size: 3vw;
    position: relative;
    top: 100px;
}

.left-text-company-algin {
    font-size: 1.5vw;
    text-align: left;
    flex: auto;
    margin-inline-end: 800px;
    left: 325px;
    position: relative;
    margin-top: 150px;
}

.right-text-company-algin {
    font-size: 1.5vw;
    text-align: right;
    flex: auto;
    margin-inline-start: 800px;
    position: relative;
    right: 325px;
    margin-top: 150px;
}

.Company-derector {
    text-align: center;
    font-size: 3vw;
    position: relative;
    flex: 1;
    margin: 150px;
}

.left-line-company {
    width: 60%; 
    height: 40px; 
    background-color: #2e97ec; 
    position: relative;
    z-index: 1;
    right: 30px;
    border-radius: 50px;
    filter: opacity(0.4);
    margin-top: 50px;
}

.right-line-company {
    width: 60%; 
    height: 40px; 
    background-color: #2e97ec; 
    position: relative;
    z-index: 1;
    left: 900px;
    border-radius: 50px;
    filter: opacity(0.4);
    margin-top: 50px;
}

.container-member {
    max-width: 800px;
    margin: auto;
    background-image: linear-gradient(to top, #84c3ff, #0074e0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-member {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f9f9f9;
    z-index: 1;
}

.team-member h2 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #2980b9;
}

.team-member p {
    margin: 0;
    font-size: 16px;
}

.footer-company {
    background-color: #b9b9b9;
    padding: 20px;
    position: relative;
    top: 500px;
}


label {
    display: block;
    margin: 10px 0 5px;
    position: relative;
    left: 450px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="question"]
textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    left: 450px;
}

.button-form-input {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    position: relative;
    top: 50px;
    right: 175px;
}

button:hover {
    background-color: #218838;
}

.container-form-main {
    position: relative;
    top: 150px;
}

.container-form h1 {
    font-size: 3vw;
    position: relative;
    text-align: center;
    bottom: 50px;
}

.text-question {
    position: relative;
    left: 450px;
    width: 50%;
    border-radius: 5px;
    height: 100px;
}

.contacts-cont {
    font-size: 3vw;
    text-align: center;
    position: relative;
    top: 120px;
}

.contact p{
    position: relative;
    top: 300px;
    left: 270px;
    font-size: 1.4vw;
    margin: 30px;
    margin-inline-end: 700px;
}


.map1 {
    position: relative;
    left: 300px;
    top: 400px;
}

.map2 {
    position: relative;
    left: 320px;
    top: 400px;
}

.services {
    font-size: 3vw;
    text-align: center;
    margin: 150px;
    position: relative;
}

.services-text-left {
    font-size: 1.4vw;
    position: absolute;
    margin-inline-end: 1000px;
    left: 325px;
}

.services-text-right {
    font-size: 1.4vw;
    position: absolute;
    margin-inline-start: 900px;
    margin-inline-end: 300px;
    margin-bottom: 100px;
    flex: 1;
    left: 100px;
    

}

.services-text-compl-work {
    font-size: 1.4vw;
    position: absolute;
    top: 1550px;
    left: 400px;
    margin-inline-end: 400px;

}

.footer-services {
    background-color: #b9b9b9;
    padding: 20px;
    position: relative;
    top: 2100px;
}

.line-one {
    width: 0.1%; /* Ширина линии */
    height: 70%; /* Толщина линии */
    background-color: #000000; /* Цвет линии */
    border-radius: 100px;
    position: absolute;
    left: 915px;
    z-index: 1;
}

.line-two {
    width: 60%; /* Ширина линии */
    height: 0.2%; /* Толщина линии */
    background-color: #000000; /* Цвет линии */
    border-radius: 100px;
    position: absolute;
    left: 365px;
    top: 1450px;
    z-index: 1;
}

.sertificat {
    font-size: 3vw;
    text-align: center;
    position: relative;
    top: 100px;
}

.sertificat-box {
    padding: 20px;
    left: 100px;
    position: relative;
    top: 150px;
    width: 50%;
    left: 620px;
}

.projects {
    font-size: 3vw;
    text-align: center;
    position: relative;
}

.projects-box {
    position: absolute;
    margin-left: 325px;
    margin-right: 325px;
    font-size: 1.4vw;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.footer-projects {
    position: relative;
    top: 6500px;
}

.projects-box img {
    margin-top: 150px;
    margin-left: 20px;

}

.projects-box p {
    position: relative;
    top: 50px;
    margin-top: 10px;
}

.success-message {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 15px;
    margin: 20px 0;
    border-radius: 4px;
    position: relative;
    top: 70px;
    text-align: center;
}

.error-message {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 15px;
    margin: 20px 0;
    border-radius: 4px;
}
